html {
    box-sizing: border-box;
    font-size: 62.5%;
}
  *, *:before, *:after {
    box-sizing: inherit;
} 

body{
    font-size: 1.6rem;
}

img{
    margin-left: 3rem;
    margin-right: 3rem;
    max-width: 300%;
    
}
.encabezado{
   
    max-width: 100%;
    
}
.buscar{
    width: 65rem;
    height: 4rem;
    border-radius: 4rem;
    border: solid .1rem;
    margin-left: 15rem;
    font-size: 2rem;
    
}
.boton {
    background-color: #009BD3;
    border-radius: 2rem;
    width: 6rem;
    margin-right: 1;
    
    
}

.flayer a{
    color: #333333;
    text-decoration: none;
}

.flayer a:hover{
    color: #009BD3;
    text-decoration: none;

}
.boton img{
    color:white;
    max-width: 3rem;
    margin-left:1rem;
    
    
}
.submenu{
    height: 6rem;
}

.menu{
    background-color: #FF7411;
    display: flex;
    height: 9rem;
    width: 100%;
}

.logo {
    flex-basis: 5%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.5rem;
}
.buscador{
    display: flex;
}

.sesion{
    color: white;
    font-size: 2rem;
    margin-right: 8rem;
}

.navigation{
    font-size: 1.3rem;
    margin-left: 7rem;
    margin-right: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.5rem;
    text-decoration: none;
    list-style: none;

}

.background-section{
    background-image: url("../img/logos/Fondo-perro-1.webp");
    height: 70vh;
    width: 230hv;
    padding-top: 11rem;
    padding-left: 3rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.productos{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    
}

h1{
    color: white;
    
}


.section2 a{
    font-size: 7rem;
    font-family:Arial, Helvetica, sans-serif
    
}

.subt{
    color:white;
    text-decoration: none;
    
}

.productos{
    list-style: none;
    font-size: 2rem;
    color:white;
}
    




